doctype html
//
  Lens by HTML5 UP
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Lens by HTML5 UP
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='assets/css/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ie9.css')
    link(rel='stylesheet', href='assets/css/jquery.tagsinput.css')
    noscript
      link(rel='stylesheet', href='assets/css/noscript.css')
  body.is-loading-0.is-loading-1.is-loading-2
    // Main
    #main
      // Header
      header#header
        h1 Reddit Ngram Viewer
        p
          a(href='http://html5up.net') Oct 2007 - May 2015
      
      
      
      

      // Footer
      footer#footer
        ul.copyright
          li Ngram Viewer by Kevin Dice
          li Data sourced from Reddit.com
    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.tagsinput.js')
    script(src='assets/js/skel.min.js')
    //if lte IE 8
      script(src='assets/js/ie/respond.min.js')
    script(src='assets/js/main.js')
