doctype html
//
  Lens by HTML5 UP
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Lens by HTML5 UP
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='assets/css/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ie9.css')
    noscript
      link(rel='stylesheet', href='assets/css/noscript.css')
  body.is-loading-0.is-loading-1.is-loading-2
    // Main
    #main
      // Header
      header#header
        h1 Lens
        p
          a(href='http://html5up.net') HTML5 UP
        ul.icons
          li
            a.icon.fa-twitter(href='#')
              span.label Twitter
          li
            a.icon.fa-instagram(href='#')
              span.label Instagram
          li
            a.icon.fa-github(href='#')
              span.label Github
          li
            a.icon.fa-envelope-o(href='#')
              span.label Email
      // Thumbnail
      section#thumbnails
        article
          a.thumbnail(href='images/fulls/01.jpg', data-position='left center')
            img(src='images/thumbs/01.jpg', alt='')
          h2 Diam tempus accumsan
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        article
          a.thumbnail(href='images/fulls/02.jpg')
            img(src='images/thumbs/02.jpg', alt='')
          h2 Vivamus convallis libero
          p Sed velit lacus, laoreet at venenatis convallis in lorem tincidunt.
        article
          a.thumbnail(href='images/fulls/03.jpg', data-position='top center')
            img(src='images/thumbs/03.jpg', alt='')
          h2 Nec accumsan enim felis
          p Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.
        article
          a.thumbnail(href='images/fulls/04.jpg')
            img(src='images/thumbs/04.jpg', alt='')
          h2 Donec maximus nisi eget
          p Tristique in nulla vel congue. Sed sociis natoque parturient nascetur.
        article
          a.thumbnail(href='images/fulls/05.jpg', data-position='top center')
            img(src='images/thumbs/05.jpg', alt='')
          h2 Nullam vitae nunc vulputate
          p In pellentesque cursus velit id posuere. Donec vehicula nulla.
        article
          a.thumbnail(href='images/fulls/06.jpg')
            img(src='images/thumbs/06.jpg', alt='')
          h2 Phasellus magna faucibus
          p Nulla dignissim libero maximus tellus varius dictum ut posuere magna.
        article
          a.thumbnail(href='images/fulls/07.jpg')
            img(src='images/thumbs/07.jpg', alt='')
          h2 Proin quis mauris
          p Etiam ultricies, lorem quis efficitur porttitor, facilisis ante orci urna.
        article
          a.thumbnail(href='images/fulls/08.jpg')
            img(src='images/thumbs/08.jpg', alt='')
          h2 Gravida quis varius enim
          p Nunc egestas congue lorem. Nullam dictum placerat ex sapien tortor mattis.
        article
          a.thumbnail(href='images/fulls/09.jpg')
            img(src='images/thumbs/09.jpg', alt='')
          h2 Morbi eget vitae adipiscing
          p In quis vulputate dui. Maecenas metus elit, dictum praesent lacinia lacus.
        article
          a.thumbnail(href='images/fulls/10.jpg')
            img(src='images/thumbs/10.jpg', alt='')
          h2 Habitant tristique senectus
          p Vestibulum ante ipsum primis in faucibus orci luctus ac tincidunt dolor.
        article
          a.thumbnail(href='images/fulls/11.jpg')
            img(src='images/thumbs/11.jpg', alt='')
          h2 Pharetra ex non faucibus
          p Ut sed magna euismod leo laoreet congue. Fusce congue enim ultricies.
        article
          a.thumbnail(href='images/fulls/12.jpg')
            img(src='images/thumbs/12.jpg', alt='')
          h2 Mattis lorem sodales
          p Feugiat auctor leo massa, nec vestibulum nisl erat faucibus, rutrum nulla.
      // Footer
      footer#footer
        ul.copyright
          li &copy; Untitled.
          li
            a(href='http://html5up.net') HTML5 UP
    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/skel.min.js')
    //if lte IE 8
      script(src='assets/js/ie/respond.min.js')
    script(src='assets/js/main.js')
